.backlog-item-container{
    padding:5px 15px;
    vertical-align: center;
    margin-bottom: 5px;
    border:1px solid gray;
    cursor:pointer;
}
.responsable-label-item > span {
    margin-right: 6px;
  }